@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Cabin+Sketch&family=Patrick+Hand&display=swap');

body {
  margin: 0;
  padding: 10px;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;

  color: darkslategray;
}

h1,
h2,
h3,
.navbar {
  font-family: 'Cabin Sketch', sans-serif;
}
